body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-layout {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

}
.form-layout .form-layout-heading{
  margin-bottom: 10px;
}
